.card {
    width: 300px;
    height: 160px;
    position: relative;
    overflow: hidden;
    transition: transform 250ms;
    border-radius: 4px;
    background: #292c3c;
    z-index: 1;
}

.card:hover {
    transform: scale(1.1);
}

.card:hover .card-bg {
    left: 0%;
}

.card-bg {
    position: absolute;
    height: 160px;
    width: 100%;
    top: 0;
    transition: left 500ms;
    left: -100%;
    z-index: -2;
}

.card-icon {
    position: absolute;
    height: 160px;
    width: 100%;
    top: 0;
    z-index: -1;
    opacity: 0.2;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
}

.icon {
    height: 100%;
    color: currentColor;
    fill: currentColor;
}

.card h2 {
    user-select: none;
    text-align: center;
    transition: color 500ms;
}