:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #ffffffeb;
    background-color: #1a202c;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#content {
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 20px 40px 20px;
    gap: 20px;
    justify-content: center;
}

.spacer {
    flex-grow: 1;
    /* flex-shrink: 0; */
}
